<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  {% block style %}
  {% endblock %}
</head>
<body>
  <div>       
    {% if user %}      
      <p>Welcome  to <strong>ChaoChat</strong>, {{user.name}}</p>
      <a href="/logout">Log Out</a>
    {% else %}
      <p>
        <a href="/login">Log In</a>
      </p>
    {% endif %}
    
    {% block content %}
    {% endblock %}
  </div>
    
  {% block script %}
  {% endblock %}
</body>
</html>