<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rest Chao</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div>
    <p>Hello rest for Chao chat</p>
    {% if userAuth %}
      <p>
        <a href="/private">Go to private</a>
      </p>
      <a href="/logout">Log Out</a>
    {% else %}
      <p>
        <a href="/login">Log In</a>
      </p>
    {% endif %}
    
    {% block content %}
    {% endblock %}

  </div>
    
  {% block script %}
  {% endblock %}
</body>
</html>