{% block content %}
<form action="/auth" method="POST">
  <fieldset>
    <label for="login">Login</label>
    <input type="text" id="login"/>
  </fieldset> 
  <fieldset>
    <label for="password">Password</label>
    <input type="password" id="password"/>
  </fieldset> 
  <input type="submit" value="Sign In" />
</form>
{% endblock %}